@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("assets/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}
:root {
  font-family: "Open Sans", open-sans, sans-serif;
  --primary: #000000;
  --links: #737373;
  --highlight: #118000;
  --important: #bf0019;
  --trending: #ff6000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  /* border: 1px solid black; */
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  padding: 20px;
  gap: 20px;
  /* border: 1px solid black; */
  flex-grow: 1;
  /* max-width: 1624px; */
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 250px;
  padding-top: 30px;
  /* border: 1px solid black; */
}

img {
  width: 100%;
}

#logo {
  width: 180px;
  height: auto;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--links);
  font-size: 14px;
  background-color: white;
  cursor: pointer;
}

button:hover {
  background-color: #adadad17;
  transition: 0.4s;
}

.filter-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 90px;
}
.filter {
  border-bottom: 1px solid #ababab;
  padding-bottom: 20px;
  min-width: 200px;
}

#price-bar-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  width: inherit;
}

#maxPrice {
  padding: 0.5em;
  width: 2rem;
}

#sellerSearch {
  padding: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rating {
  display: flex;
}

.icon {
  height: 18px;
  width: 18px;
}

.stats {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sponsored,
.free-shipping,
.trending {
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
}

.sponsored {
  border: 1px solid #adadad;
}
.free-shipping {
  border: 1px solid var(--highlight);
  color: var(--highlight);
}

.trending {
  border: 1px solid var(--important);
  background: linear-gradient(to right, var(--trending) 60%, #ff904a);
  color: white;
  display: flex;
  gap: 5px;
}

.seller {
  color: var(--links);
}

.promos-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

article {
  padding: 20px;
  border-radius: 10px;
}

article:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #adadad11;
  transition: 0.4s;
}

input[range] {
  color: var(--trending);
}

input[type="range"] {
  appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  cursor: pointer;
  background: var(--trending);
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  border: 1px solid #ababab;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  appearance: none;
  margin-top: -7px;
}

@media screen and (max-width: 500px) {
  body {
    flex-direction: column;
  }
  aside {
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid #adadad;
    padding-bottom: 20px;
    margin: 20px;
  }
  aside button {
    order: 3;
    grid-column: 1/3;
    margin: auto;
  }

  .filter {
    border: none;
  }

  .filter-container {
    position: relative;
    top: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .filter-container h2 {
    grid-column: 1/3;
    text-align: center;
  }
}
