@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("assets/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}
:root {
  font-family: "Open Sans", open-sans, sans-serif;
  --primary: #000000;
  --links: #737373;
  --highlight: #118000;
  --important: #bf0019;
  --trending: #ff6000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;
}

.rating {
  display: flex;
}
.icon {
  height: 18px;
  width: 18px;
}

.stats {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sponsored {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #adadad;
  border-radius: 5px;
  padding: 5px;
}

.free-shipping {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid var(--highlight);
  color: var(--highlight);
  border-radius: 5px;
  padding: 5px;
}

.trending {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid var(--important);
  background: linear-gradient(to right, var(--trending) 60%, #ff904a);
  color: white;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  gap: 5px;
}

.seller {
  color: var(--links);
}

.promos-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

#price-bar-container {
  display: flex;
  justify-content: space-between;
}
